<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template/acceuil.css">
    <title>Quizzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzzz</title>
</head>
<body>
    <header>
        <p>Bienvenue sur le Quizz</p>
    </header>
    <nav>
        <div id = "box">
            <h1>Les differentes catégorie de Quizz :</h1>
            <ul>
                <li><button onclick = "location.href = 'index.php?page=2&categorie=1'">#Categorie1#</button>
                <li><button onclick = "location.href = 'index.php?page=2&categorie=2'">#Categorie2#</button>
                <li><button onclick = "location.href = 'index.php?page=2&categorie=3'">#Categorie3#</button>
                <li><button onclick = "location.href = 'index.php?page=2&categorie=4'">#Categorie4#</button>
                <li><button onclick = "location.href = 'index.php?page=2&categorie=5'">#Categorie5#</button>
                <li><button onclick = "location.href = 'index.php?page=2&categorie=6'">#Categorie6#</button>
                <li><button onclick = "location.href = 'index.php?page=2&categorie=7'">#Categorie7#</button>
                <li><button onclick = "location.href = 'index.php?page=2&categorie=8'">#Categorie8#</button>      
            </ul>
        </div>
    </nav>
    <footer>
        <p>Pour plus de quizz :<a href = https://www.cybermalveillance.gouv.fr/tous-nos-contenus/fiches-reflexes/hameconnage-phishing id = "lien"> QuizzDeFou.fr</a><p>
    </footer>
</body>
</html>