<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template/acceuil.css">
    <title>Fin du Quizz</title>
</head>
<body>
    <header>
        <p>Fin du Quizz #QUIZZ#</p>
    </header>
    <nav>
        <br>
        <h2>Vous avez fini le Quizz avec un score de #SCORE#</h2>
        <button onclick = "location.href = '../?page=1'">Revenir à l'acceuil</button>
    </nav>
    <footer>
        <p>Pour plus de quizz :<a href = https://www.cybermalveillance.gouv.fr/tous-nos-contenus/fiches-reflexes/hameconnage-phishing id = "lien"> QuizzDeFou.fr</a><p>
    </footer>
</body>
</html>